/* banner
 * custom object for banners on home page
 */

 /* banner - wrapper object */
.banner {
    display: flex;
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: var(--banner-padding, 1.25em 1.5em);
    background-image: linear-gradient(to bottom right, hsl(40 60% 50% / .05) , hsl(40 30% 99%) , hsl(40 60% 50% / .05));
    border: 1px solid rgba(var(--rgb-gold), 0.25);
    border-radius: 15px;
    box-shadow: 1px 1px 3px rgba(var(--rgb-gold), 0.1);
    opacity: 0.9;

    transition: box-shadow 0.3s ease-in-out, opacity 0.2s ease;
    &:hover {
        box-shadow: 1px 1px 3px 0.5px rgba(219, 171, 4, 0.3);
        opacity: 1;
    }

    gap: 7.5%;
    row-gap: 0;
    flex-wrap: wrap;
}

/* banner_image - optional image */
.banner_image {
    flex: 0 1 20%;
    img {
        width: 100%;
        border-radius: 10px;
        box-shadow: 1px 1px 0.5px rgba(0,0,0,0.1);
    }
}

/* banner_body - text formatting */
.banner_body {
    flex: 1 1 70%;
}

.banner_subtitle {
    color: rgba(209, 161, 4, 0.8);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: .25em;
}

.banner_title {
    margin-top: .25em;
    font-size: var(--banner-title-size, 18px);
    font-weight: 400;
}

.banner_content {
    font-size: 14px;
    margin: var(--banner-content-margin, 0);
    margin-left: 0;
}

.banner_link {
    font-family: var(--sans-serif-1);
    font-weight: 400;
    color: var(--color-gold);
    
    i {
        position: relative;
        background: none;
        inset: 0 0 0 2px;
        margin-left: 1px;
        margin-right: 30px;
        transition: margin-left 0.5s ease;
    }
    transition: filter 0.3s ease-in-out;

    &:hover {
        filter: brightness(0.8);
        i {
            margin-left: 5px;
        }
    }

    &::after {
        width: 0;
    }
}

@media (max-width: 960px) {
    .banner_image {
        flex: 0 1 25%;
    }
    .banner_body {
        flex: 1 1 60%;
    }
}
@media (max-width: 768px) {
    .banner {
        margin: 0 2.5%;
        width: 95%;
    }
    .banner_image {
        flex: 0 1 25%;
    }
    .banner_body {
        flex: 1 1 90%;
        padding-right: 1em;
    }
}

