button {
  cursor: pointer;
}

button.icon_button {
  background-color: var(--background-primary);
}

.icon_button {
  display: flex;
  align-items: center;
  padding: 7.5px 20px;
  
  border-radius: 15px;
  border: 0.25px solid var(--color-primary);
  box-shadow: 1px 1px 3px rgba(0,0,0, 0.15);

  transition: 0.25s ease-in-out;

  h4 {
    margin: 0;
  }
  span {
    margin-right: 10px;
    transform: translateY(1px);
    svg, path {
        height: 20px;
        width: 20px;
        fill: black;
        stroke: black;
    }
  }

  &:hover {
    background-color: rgba(0,0,0,0.75);
    color: white;
    svg, path {
        fill: white;
        stroke: white;
    }
  }
}

/* variants */
.inverted_button {
    background-color: black;
    color: white;
    svg, path {
        fill: white;
        stroke: white;
    }
    &:hover {
        background-color: var(--background-white);
        color: black;
        svg, path {
            fill: black;
            stroke: black;
        }
    }
}

a > .icon_button_book_links {
  padding: 5px 15px;
  margin: 0 1px;
  border-radius: 10px;
  box-shadow: 1px 1px 1.5px #33333350;

  &#goodreads {
      box-shadow: none;
      border: none;
      background-color: rgba(255,255,255,0.3);

      &:hover {
          box-shadow: none;
          background-color: rgba(0,0,0,0.75);
      }
  }
  h4 {
    font-weight: 300;
    font-size: 15px;
    font-family: var(--sans-serif-2);
    color: var(--color-primary);
  }
}

.icon_button_form_cta {
  justify-content: center;
  padding: 8px;
  width: 200px;
  box-shadow: 0px 1px 2px #00000050;
  transition: .25s ease-in-out;

  i {
      transform: translateY(2px);
      margin-left: 5px;
      transition: .25s ease-in-out;
  }

  &:hover i {
    margin-left: 10px;
  }
}
@media (max-width: 1024px) {
    .icon_button.form_button_cta {  width: 220px; }
}
@media (max-width: 768px) {
    .icon_button.form_button_cta {  width: 230px; }
}
@media (max-width: 576px) {
    .icon_button.form_button_cta {  width: 240px; }
}