/* hyperlink
 * custom object for hyperlinks
 */

 /* hyperlink - wrapper object */
.hyperlink { 
    display: inline-block;

    &:hover, &:active, &:focus {
        .hyperlink_text {
            color:  var(--color-gold);
            transition: color 0.3s ease 0.2s;
            &::after {
                background:  var(--color-gold);
                width: 100%;
                transition: width 0.3s ease 0.2s, background 0.3s ease 0.2s;
            }
        }
    }
}

.hyperlink_text {
    display: inline-block;
    white-space: nowrap;
    font-size: 1em;
    color: var(--color-text);
    font-weight: 300;
    margin: 0;
    position: relative;
    
    &::after {
        content: "";
        position: absolute;
        inset: auto 0 -2px 0;
        width: 0;
        height: 2px;
        background: var(--color-text);
        transition: width 0.3s ease 0.2s, background 0.3s ease 0.2s;
    }
}

/* hyperlink stypes */
.hyperlink_active {
    color: var(--color-gold);
    &::after {
        background: var(--color-gold);
        width: 100%;
    }
}
.hyperlink_inline {
    display: inline-block;
    &::after {
        width: 100%;
        height: 1px;
        inset: auto 0 1px 0;
    }
}
.hyperlink_disabled {
    color: var(--color-disabled);
    font-weight: 100;
    &:after {
        display: none;
    }
}
.hyperlink_no_underline {
    &:hover, &:active, &:focus > .hyperlink_text,
    .hyperlink_text {
        &::after {
            display: none;
        }
    }
}
