/* nav.module.css 
* local styles for site-wide navigation
*/

/* navbar - wrapper object for top navigation system */
.navbar {
    z-index: 3;
    top: 0;
    height: var(--nav-height);
    width: 100%;
    background-color: var(--color-background-nav);
}

/* nav__header - site header */
.nav__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    width: 100%;
}
.nav__header_logo {
    height: 60px;
    margin: 15px;
}
h2.nav__header_title {
    font-weight: 400;
    /* margin: 0; */
}
@media (max-width: 300px) {
    h2.nav__header_title {
        display: none;
    }
}


/* nav--desktop - desktop centered navigation */
.nav--desktop {
    display: flex;
    justify-content: center;   
    margin: 0 2.5em;

    .nav--desktop__link {
        display: inline-block;
        margin: 0 20px;
        height: 24px;
        font-size: 18px;
    }
}
.nav--desktop__item_container {
    display: inline-block;
    :global(.bi), :global(.bi)::before {
        display: inline-block;
    }
}
.nav--desktop__books {
    display: inline-block;
    /* sub-styles for books desktop dropdown */
    .nav--desktop__books_menu {
        z-index: 3;
        position: absolute;
        margin-top: 2px;
        padding: 5px 10px 12px 0;
        white-space: nowrap;
        visibility: hidden;
        pointer-events: none;

        opacity: 0;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 1px 0 var(--color-boxshadow-primary);

        transform: translateY(6px);
        transition: 0.5s ease;

        .nav--desktop__link {
            display: block;
        }
    }

    .nav--desktop__link_books {
        margin: 12px 1em;
    }

    &:hover {
        cursor: pointer;
    }

    &:hover .nav--desktop__books_menu {
        opacity: 1;
        visibility: visible;
        background-color: rgba(var(--rgb-primary-bg), 0.95);      
        pointer-events: auto;
        transform: translateY(0);
    }
}


/* nav__mobile - mobile centered accordion navigation */
.nav--mobile__toggle {
    display: flex;
    justify-content: space-between; 
    align-items: center;     
    margin: 0 3.25em;

    .nav--mobile__toggle_button {
        margin: 0 auto;
        background: transparent;
        border: none;
        cursor: pointer;
    }
}
.nav--mobile__menu {
    width: 100%;
    height: 100%;
    padding-top: .5em;
    background-color: var(--color-background-nav);
    * {
        width: 100%;
    }
}
.nav--mobile__menu, .nav--mobile__item_container {
    position: fixed;
    top: var(--nav-height);
    
    .nav--mobile__link {
        display: block;
        text-align: center;
        padding: 0.4em 0;
        transition: 0.25s ease-in-out;
    }
    .nav--mobile__link:hover,
    .nav--mobile__link:active,
    .nav--mobile__link:focus {
        color: var(--color-text);
        text-decoration: none;
        background-color: rgba(var(--rgb-gold), 0.6);
    }
    .nav--mobile__link_text {
        font-family: var(--serif);
        font-size: 18px;
        font-weight: 300;
    }
}
.nav--mobile__icons {
    background: linear-gradient(to bottom, rgba(var(--rgb-primary-bg), 0) 0%, var(--color-background-primary) 35%);
    position: fixed;
    padding-top: 60px;
    margin: 0 auto;
    bottom: 0;
}


/* NAV FOOTER ICONS */
.footer {
    position: relative;
    margin: 3.5em 0 2em 0;
}
.footer__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5em;
}
.footer__icon, .footer__icon svg, .footer__icon path {
    width: 1.75em;
    height: 1.75em;
    margin: 0 .75em;
    left: 0;
    transition: 0.25s ease-in-out;
}
.footer__icon:hover {
    svg, path {
        fill: var(--color-gold);
        stroke: var(--color-gold);
    }
}
p.footer__copyright {
    font-family: var(--serif);
    text-transform: lowercase;
    text-align: center;
    font-size: 0.75em;
}


/* responsive screen sizing for mobile and desktop */
@media (min-width: 768px) {
    .navbar {
        position: absolute;
    }
    .nav--mobile {
        display: none;
    }
}
@media (max-width: 768px) {
    .nav--desktop {
        display: none;
    }
    .navbar {
        position: fixed;
    }
}