/* BOOKSHELF ANIMATIONS */
.book-navigation-container {
    position: fixed;
    background-color: var(--background-white85);
    inset: 0;
    width: 100%;
    height: 100px;
    z-index: 2;
    padding: 15px 0;
    box-shadow: 0px 1px 2px #33333350;

    .app_container {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .book-navigation-container {
        top: var(--nav-height);
    }
}

.book-navigation {
    position: relative;
    width: 100%;
    height: 70px;
    padding: 10px 20px;
    background-color: var(--background-white);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgba(122,122,122, 0.5);
}

.toggle-reset {
    position: fixed;
    inset: 120px 20px;
    width: 100px;
    height: 40px;
}


.book-navigation-item {
    all: unset; 
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    cursor: pointer;

    .book-navigation-item-cover {
        display: flex;
        align-items: center;
        width: 60px;

        img {
            height: 55px;
            border-radius: 5px;
        }
    }
    .book-navigation-item-title {
        flex: 1 1 60%;
        h3 {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 0;
            color: var(--color-gold);
        }
        h5 {
            margin-top: 0;
            font-size: 11px;
            text-align: left;
        }
    }
    .book-navigation-item-icon {
        width: 20px;
    }

    &:last-of-type {
        border-radius: 0 0 10px 10px;
    }

}

@media screen and (max-width: 240px) {
    .book-navigation-item >
    .book-navigation-item-cover, .book-navigation-item > .book-navigation-item-title > h5 {
        
        display: none;
    }
}

.book-navigation-dropdown {
    position: absolute;
    top: 75px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #88888870,
        -0.5px -0.25px 0.5px #88888840;

    button.book-navigation-item {
        width: 100%;
        padding: 15px 20px;
        transition: 0.3s ease-in-out;

        &:hover {
            background-color: var(--background-primary);
            cursor: pointer;
        }
    }
}