.contact-section {
    align-content: center;
    place-content: start;

    .banner-body {
        /* display: inline; */
        margin-bottom: 4px;
        margin-right: 2em;
    }

    .hyperlink-text {
        font-size: 14px;
    }

    .hyperlink {
        .hyperlink-text.hyperlink-static {
            margin-bottom: 0;
            justify-content: center;
            &::after {
                content: none;
            }
            &::before {
                content: "";
                display: inline-block;
                background-color: var(--color-gold);
                -webkit-mask: url("/icons/email.svg") no-repeat center;
                mask: url("/icons/email.svg") no-repeat center;
                -webkit-mask-size: contain;
                mask-size: contain;
                height: 14px;
                width: 14px;
                margin: 0 4px 0 0;
                transform: translateY(1.5px)
            }
        }
    }
}
.contact-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* left */
    align-items: top; 
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 15px;
}
.contact-card {
    flex: 0 1 30%;

    .banner {
        margin: 0;
        width: auto;
        max-width: 90%;
        padding: .5em 1em .75em 1em
    }

    h3.banner-title {
        font-size: 16px;
        margin-bottom: 4px;
    }
}
@media (max-width: 1024px) {
    .contact-card {
        flex: 0 1 45%;
    }
}
@media (max-width: 768px) {
    .contact-card {
        flex: 1 1 50%;
    }
}
.contact-socials {
    display: flex;
    gap: 1em;
}


h3.contact-title {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}

p.contact-banner {
    margin: 0;
    display: inline;
}

