/* global – fonts and styles definition */
:root {
    --serif: "Noto Serif", system-ui, serif;
    --sans-serif-1: 'Open Sans', Avenir, sans-serif;
    --sans-serif-2: "halyard-display", system-ui, Avenir, Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4 { 
  font-family: var(--serif);
  font-weight: 300;
  margin: 0.5em 0;
}

h1 {
  font-size: 40px;
  line-height: 1.1;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
  font-weight: 400;
}

h5 {
  font-size: 14px;
  text-transform: uppercase;
  font-family: var(--sans-serif-2);
  font-weight: 300;
  opacity: 0.8;
  margin: 0.5em 0;
  text-align: center;
}

p {
  font-family: var(--sans-serif-1);
  font-weight: 200;
  font-size: 14px;
}

a { 
  color: #27272a;
  text-decoration: none;
  cursor: pointer;

  button {
    cursor: pointer;
  }

  & .link-underline {
    text-decoration: underline;
    cursor: pointer;
  }
}