/* global.css
 * shared styles across all components
 */


/* tailwind import */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  line-height: 1.5;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-primary);
  color: var(--color-primary);
}
html, #root {
  margin: 0;
  width: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */

  /* Chrome, Safari, Opera */
  ::-webkit-scrollbar {
    display: none;
  }
}
body {
  margin: 0;
  min-height: 100vh;
}

/* app-container – size of entire web app and responsive design */
.app_container {
  margin: 0 20%;
}
@media (max-width: 1920px) {
  .app_container {
    margin: 0 15%;
  }  
}

@media (max-width: 1440px) {
  .app_container {
    margin: 0 10%;
  }  
}

@media (max-width: 1024px) {
  .app_container {
    margin: 0 8%;
  }  
}

@media (max-width: 768px) {
  .app_container {
    margin: 0 7%;
  }  
}

@media (max-width: 576px) {
  .app_container {
    margin: 0 5%;
  }  
}
.app_container {
  margin-top: 10em;
}

