
/* Styling for full-art and unreleased books */
.library-book, .library-book-unreleased {
    position: relative;
    padding: 10px 30px 20px 30px;
    backdrop-filter: blur(14px);
    border-radius: 10px;
    min-width: 160px;
    transition: .3s ease-out;
    hr {
        width: 120px;
    }
    h4 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    h5 {
        font-size: 14px;
    }
    p {
        margin: 0;
    }
    p.library-book-subtitle {
        font-size: 9px;
        text-transform: uppercase;
    }
    img {
        transition: .3s ease-out;
        border-radius: 10px;
        height: 180px;
        object-fit: cover;
    }
}

.library-wrapper {
    overflow-x: auto;
    flex-wrap: nowrap;
}
.library {
    padding: 1.5em 1em;
    padding-top: .5em;
    display: flex;
    column-gap: 1em;
    row-gap: 1em;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    flex-shrink: 0;

    @media (max-width: 768px) {
        row-gap: 1em;
    }
}
.horizontal-list::-webkit-scrollbar {
  display: none;         /* optional: hide scrollbar */
}


.library-book {
    h5 {
        color: var(--color-text);
        filter: brightness(0.9);
    }

    &:hover {
        background-color: var(--background-white);
        box-shadow: 0px 1px 2px #33333350;

        img {
            transform: scale(1.02);
        }

        h4, h5 {
            color: var(--color-gold);
        }
    }
}
.library-book-caption {
    position: relative;
    display: inline-block;
}


/* Suppress animation for unreleased books */
.library-book-unreleased {
    img {
        filter: opacity(0.5);
    }
    h5, hr {
        opacity: 0.5;
    }
    h4, p {
        opacity: 0.75;
    }
    .book-overlay {
        display: none;
    }
}

/* Don't show unreleased books on homepage */
.library-book-hidden {
    width: 0;
    height: 0;
    display: none;
}

.library-dots {
    width: 100%;
    text-align: center;
}