/* CSS FOR SHARED COMPONENTS */        

/* LINK WRAPPERS */        
.hyperlink { 
    display: inline-block;
    .hyperlink-text {
        display: inline-block;
        white-space: nowrap;
        font-size: 1em;
        color: #27272a;
        font-weight: 300;
        margin: 0;
        position: relative;
        
        &::after {
            content: "";
            position: absolute;
            inset: auto 0 -2px 0;
            width: 0;
            height: 2px;
            background: #272727;
            transition: width 0.3s ease 0.2s, background 0.3s ease 0.2s;
        }
        &.hyperlink-active {
            color: var(--color-gold);
            &::after {
                background: var(--color-gold);
                width: 100%;
            }
        }
    }

    &:hover,
    &:active,
    &:focus {
        .hyperlink-text {
            color:  var(--color-gold);
            transition: color 0.3s ease 0.2s;
            &::after {
                background:  var(--color-gold);
                width: 100%;
                transition: width 0.3s ease 0.2s, background 0.3s ease 0.2s;
            }
        }
    }
    .hyperlink-text-inline {
        display: inline-block;
        &::after {
            width: 100%;
            height: 1px;
            inset: auto 0 1px 0;
        }
    }
}

.hyperlink {
    .hyperlink-text.banner-link {
        font-family: var(--sans-serif-1);
        font-weight: 400;
        color: var(--color-gold);
        
        i {
            position: relative;
            background: none;
            inset: 0 0 0 2px;
            margin-left: 1px;
            margin-right: 30px;
            transition: margin-left 0.5s ease;
        }
        transition: filter 0.3s ease-in-out;

        &:hover {
            filter: brightness(0.8);
            i {
                margin-left: 5px;
            }
        }

        &::after {
            width: 0;
        }
    }
}

.link-disabled > .hyperlink-text {
    color: #cccccc;
    font-weight: 100;
}


/* BANNERS */       
.banner {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 1em 1.5em 1em 1.5em;
    border: 1px solid rgba(var(--rgb-gold), 0.25);
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, hsl(40 60% 50% / .05) , hsl(40 30% 99%) , hsl(40 60% 50% / .05));
    box-shadow: 1px 1px 3px rgba(var(--rgb-gold), 0.1);
    opacity: 0.9;

    transition: box-shadow 0.3s ease-in-out, opacity 0.2s ease;
    &:hover {
        box-shadow: 1px 1px 3px 0.5px rgba(219, 171, 4, 0.3);
        opacity: 1;
    }

    gap: 2em;
    row-gap: 0;
    flex-wrap: wrap;
}

.banner-content {
    .banner-subtitle {
        color: rgba(209, 161, 4, 0.8);
        text-transform: uppercase;
        margin-bottom: .25em;
    }
    h3.banner-title {
        margin-top: .25em;
        font-size: 18px;
        font-weight: 400;
    }
    .banner-body {
        font-size: 14px;
        margin-bottom: 1.5em;
    }

    flex: 1 1 calc(75%);
    @media (max-width: 960px) {
        flex: 1 1 60%;
    }
    @media (max-width: 768px) {
        flex: 1 1 100%;
    }

    .hyperlink-static {
        margin-bottom: .25em;
        margin-right: 2em;
        display: inline-block;
    }
}

.banner-image {
    img {
        width: 100%;
        border-radius: 10px;
        box-shadow: 1px 1px 0.5px rgba(0,0,0,0.1);
    }
    flex: 0 1 20%;
    @media (max-width: 960px) {
        flex: 0 1 30%;
    }
    @media (max-width: 768px) {
        flex: 0 1 25%;
    }
}
.site-button {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    width: auto;
    gap: 5px;
    background-image: none;
    border-color: rgba(0,0,0, 0.1);
    box-shadow: 1px 1px 3px rgba(0,0,0, 0.1);
    transition: 0.15s ease-in-out;

    &:hover {
        background-image: none;
        box-shadow: 1px 1px 3px 0.5px rgba(0,0,0, 0.1);
        background-color: rgba(0,0,0,0.75);
        color: white;

        svg, path {
            fill: white;
            stroke: white;
        }
    }

    h4 {
        display: inline;
        margin: 0;
    }

    span {
        margin-right: 6px;
        transform: translateY(3px);
    }

    svg, path {
        height: 20px;
        width: 20px;
        fill: black;
        stroke: black;
    }
}