Halyard Text ExtraLight
font-family: "halyard-text", sans-serif;
font-weight: 100;
font-style: normal;
Halyard Text Light
font-family: "halyard-text", sans-serif;
font-weight: 200;
font-style: normal;
Halyard Text Book
font-family: "halyard-text", sans-serif;
font-weight: 300;
font-style: normal;
Halyard Display ExtraLight
font-family: "halyard-display", sans-serif;
font-weight: 100;
font-style: normal;
Halyard Display Light
font-family: "halyard-display", sans-serif;
font-weight: 200;
font-style: normal;
Halyard Display Book
font-family: "halyard-display", sans-serif;
font-weight: 300;
font-style: normal;
Halyard Display Italic
font-family: "halyard-display", sans-serif;
font-weight: 400;
font-style: italic;
Halyard Display SemiBold
font-family: "halyard-display", sans-serif;
font-weight: 600;
font-style: normal;
Halyard Display SemiBold Italic
font-family: "halyard-display", sans-serif;
font-weight: 600;
font-style: italic;