/* bookNav
 * selector for book navigation dropdown
 */

.bookNav__container {
    position: fixed;
    background-color: var(--color-background-nav);
    inset: 0;
    width: 100%;
    height: 100px;
    z-index: 2;
    padding: 15px 0;
    box-shadow: 0px 1px 2px var(--color-boxshadow-primary);

    :global(.app_container) {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .bookNav__container {
        top: var(--nav-height);
    }
}

.bookNav {
    position: relative;
    width: 100%;
    height: 70px;
    padding: 10px 20px;
    background-color: var(--color-background-white);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgba(var(--rgb-gray-medium), 0.5);
}

.bookNav__selector {
    all: unset; 
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    cursor: pointer;

    .bookNav__selector_image {
        display: flex;
        align-items: center;
        width: 60px;

        img {
            height: 55px;
            border-radius: 5px;
        }
    }
    .bookNav__selector_text {
        flex: 1 1 60%;
        h3 {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 0;
            margin-top: .25em;
            color: var(--color-gold);
        }
        h5 {
            margin-top: 0;
            font-size: 11px;
            text-align: left;
        }
    }
    .bookNav__selector_icon {
        width: 20px;
    }
    &:last-of-type {
        border-radius: 0 0 10px 10px;
    }
}

@media (max-width: 320px) {
    .bookNav__selector > .bookNav__selector_image,
    .bookNav__selector > .bookNav__selector_text > h5 {
        display: none;
    }
}

.bookNav__menu {
    position: absolute;
    top: 75px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px var(--color-boxshadow-primary),
        -0.5px -0.25px 0.5px var(--color-boxshadow-primary);

    button.bookNav__selector {
        width: 100%;
        padding: 15px 20px;
        transition: 0.25s ease-in-out;

        &:hover {
            background-color: var(--color-background-primary);
            cursor: pointer;
        }
    }
}