/* bookCard
 * styling for individual book objects */

/* overall parent item */
.book {
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 1px 1px 1px var(--color-boxshadow-primary),
        -0.5px -0.25px 0.5px var(--color-boxshadow-primary);
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    transition: 0.4s ease;

    &:hover {
        background-color: var(--color-background-white);
        box-shadow: 1px 2px 1.5px var(--color-boxshadow-hover),
        -0.5px -0.25px 0.5px var(--color-boxshadow-hover);
    }
}

.book__image {
    display: flex;
    flex: 1 1 25%;
    flex-direction: column;
    align-items: center;
    img {
        display: block;
        border-radius: 10px;
        width: 80%;
        max-width: 160px;
    }

    p {
        font-size: 12px;
    }
}
.book__content {
    flex: 1 1 70%;

    h2.book__title {
        font-size: 22px;
        font-weight: 400;
    }
    h3.book__subtitle, h4.book__links_title {
        font-size: 16px;
        font-family: var(--sans-serif-1);
        color: var(--color-gold);
    }
    h3 {
        font-style: italic;
        font-weight: 400;
    }
    h4.book__links_title {
        font-weight: 500;
    }
    p {
        font-size: 15px;
    }
    .book__description h3 {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .book__cover, .book__content {
        flex: 1 1 100%;
    }
}

.book__blurb {
    position: relative;
    padding-left: 15px;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 2px;
        background-color: var(--color-gold); 
    }

    p {
        margin-bottom: 5px;
    }

    .book__blurb_content {
        margin-top: 5px;
        font-size: 15px;
        font-weight: 400;
        font-style: italic;
    }
    .book__blurb_name {
        margin-top: 5px;
        font-size: 15px;
        color: var(--color-text);
        font-weight: 500;
        padding-left: 15px;
    }
    .book__blurb_bio {
        font-weight: 300;
        font-size: 13px;
    }
}

.book__links_title > i {
    margin-right: 5px;
}
.book__links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 7.5px;
}