/* bookCollection
 * styling for book trio */

/* overall parent item */
.bookCollection {
    display: var(--bookCollection-display, flex);
    justify-content: center;
    padding: .5em 1em 1.5em 1em;
    column-gap: 0.75em;
    row-gap: 1em;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    flex-shrink: 0;

    @media (max-width: 768px) {
        row-gap: 1em;
    }
}

/* individual item content */
.bookCollection__book_image {
    transition: 0.25s ease-in-out;
    border-radius: 10px;
    height: 180px;
    object-fit: cover;
}
h5.bookCollection__book_date {
    color: var(--color-text);
    filter: brightness(0.9);
    font-size: 14px;
    margin-bottom: 10px;
}
.bookCollection__book_content {
    position: relative;
    display: inline-block;
}
h4.bookCollection__book_title {
    font-size: 16px;
    margin-bottom: 5px;
}
p.bookCollection__book_subtitle {
    font-size: 9px;
    text-transform: uppercase;
    margin: 0;
}

/* individual item in selector */
.bookCollection__book {
    position: relative;
    padding: 10px 10px 18px 10px;
    backdrop-filter: blur(14px);
    border-radius: 10px;
    width: 200px;
    transition: 0.25s ease-in-out;
    --bookCollection-hover-bg: --color-background-white;
    --bookCollection-boxshadow: 0px 1px 2px var(--color-boxshadow-hover);
    --bookCollection-hover-scale: 1.02;

    &:hover {
        background-color: var(--bookCollection-hover-bg);
        box-shadow: var(--bookCollection-boxshadow);

        img {
            transform: scale(var(--bookCollection-hover-scale));
        }
        h4, h5 {
            color: var(--color-gold);
        }
    }
}


@media (max-width: 768px) {
    .bookCollection {
        justify-content: left;
    }
}