.book-container {
    justify-content: center;
}

h3#infernosheir, h3#tempestsqueen {
    font-family: 'Open Sans', Avenir, sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 500;
    margin: 0 auto;
    /* text-transform: uppercase; */
}
h3#infernosheir::before, h3#tempestsqueen::before,
h3#infernosheir::after, h3#tempestsqueen::after {
    margin: auto 8px;
    font-size: 20px;
}
h3#infernosheir::before, .book-infernosheir::before {
    content: '🔥';
}
h3#tempestsqueen::before, .book-tempestsqueen::before {
    content: '🐉';
}
h3#infernosheir::after, .book-infernosheir::after {
    content: '👑';

}
h3#tempestsqueen::after,.book-tempestsqueen::after {
    content: '❤️‍🔥';
}

h3#infernosheir, .book-infernosheir {
    background: linear-gradient(to right, rgb(252,12,21) 40%, rgb(8, 46, 67) 80%);
}
h3#tempestsqueen {
    background: linear-gradient(to right, rgb(21,184,235) 25%, rgb(163,149,200) 60%);
}
.book-tempestsqueen {
    background: linear-gradient(to right, rgb(21,184,235) 30%, rgba(204, 148, 93, 0.5) 50%,  rgb(163,149,200) 65%);
}
h5#infernosheir > a:hover,
p#infernosheir > a:hover {
    background: linear-gradient(to right, rgb(252,12,21) 40%, rgb(149,15,57) 100%);
    border-bottom: 0.5px solid rgb(149,15,57);
}
h5#tempestsqueen > a:hover,
p#tempestsqueen > a:hover {
    background: linear-gradient(to right, rgb(21,184,235) 20%,  rgb(163,149,200) 80%);
    border-bottom: 0.5px solid rgba(204, 148, 93);
}
h3#infernosheir, h3#tempestsqueen, .book-infernosheir, .book-tempestsqueen,
h5#infernosheir > a:hover,
p#infernosheir > a:hover,
h5#tempestsqueen > a:hover,
p#tempestsqueen > a:hover {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}




.book-card {
    display: flex;
    flex-direction: row;
    min-height: 500px;
    min-width: 85%;
    box-shadow: 0px 2px 5px #00000050;
    border-radius: 1em;
    padding: 1.75em;
    /* min-height: 300px; */
    transition: 500ms ease-in-out;
    place-content: center;
    gap: 5%;
}
.book-card a {
    text-decoration: underline;
}
.book-lhs {
    flex: 1 1 55%;
    justify-content: start;
    padding: 0.5em 1em;
}
.book-lhs h2 {
    font-size: 1.75em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.35em;
}
.book-lhs h3 {
    font-size: 1.4em;
    font-weight: 600;
}
.book-lhs h4 {
    font-size: 1.1em;
    font-weight: 600;
}
.book-lhs h5 {
    padding: .5em 1.5em;
    font-size: 1.15em;
    font-weight: 400;
    margin-bottom: .5em;
    line-height: 1.5em;
    text-align: center;
}
.book-lhs p, .book-rhs p {
    font-weight: 300;
    font-size: 1.1em;
    text-align: left;
}
.book-rhs {
    flex: 1 1 40%;
    place-items: center;
}
.title-image {
    margin: 1em 12.5%;
    width: 70%;
    border-radius: 5px;
}
.button-goodreads {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background: linear-gradient(270deg, rgba(85, 59, 8, 0.2), #FFFFfecc);
    backdrop-filter: blur(8px);
    box-shadow: 0px 1px 3px rgba(85, 59, 8, 0.4);
    opacity: 50%;
    border-radius: 1em;
    font-family: 'Open Sans', Avenir, sans-serif;
    font-weight: 100;
    font-size: 1em;
    padding: 0.5em 1em;
    border-width: 0.5px;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.book-card a:has(.button-goodreads) {
    text-decoration: none;
}

.button-goodreads:hover {
    box-shadow: 0px 2.5px 5px rgba(85, 59, 8, 0.7);
}
.button-goodreads img {
    margin: auto 0.5em;
    height: 16px;
    margin-right: 0em;
}

@media (max-width: 1920px) {
    .book-card {
    }
    .book-lhs {
        flex: 1 1 50%;
    }
    .book-rhs {
        flex: 1 1 45%;
    }
  }
  
  @media (max-width: 1440px) {
    .book-lhs {
        flex: 1 1 45%;
    }
    .book-rhs {
        flex: 1 1 50%;
    }
  }
  
  @media (max-width: 1024px) {
    .book-card {
        flex-direction: column;
        gap: 0%;
    }
    .book-rhs {
        padding: 0 5em;
        margin-top: 1.5em;
        margin-bottom: 2.5em;
        padding: 0 5em;
    }
  }
  
  @media (max-width: 768px) {
    .book-card {
        padding-top: 1.5em;
    }
    .book-lhs h5 {
        padding: .5em;
        margin-bottom: .25em;
    }
    .book-rhs {
        margin-top: 2.5em;
        margin-bottom: 1.5em;
        padding: 0 3em;
    }
  }
  
  @media (max-width: 576px) {
    .book-card {
        padding-top: 2.5em;
    }
    .book-rhs {
        padding: 0;
    }
}
  
.book-title, .book-title > p {
    position: relative;
    width: 100%;
    text-align: center;
}

.book-infernosheir, .book-tempestsqueen {
    padding: 0 auto;
    text-align: center;
}
.book-infernosheir::before, .book-tempestsqueen::before {
    font-size: 24px;
    margin-right: 14px;
}
.book-infernosheir::after, .book-tempestsqueen::after {
    font-size: 24px;
    margin-left: 14px;
}

.book-selector {
    height: 50px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 1em;
    justify-content: space-between;
    border: none;
    border-radius: 1em;
    padding: 10px auto;
}
.selector {
    cursor: pointer;
    flex: 1 1 50%;
    padding: 0;
    border: none;
    place-content: center;
    background: transparent;
    transition: 0.5s ease-in;
    opacity: 0.25;
}
.active-book {
    opacity: 1;
    transition: .5s ease-in-out;
}
#ih-book, #tq-book {
    transition: .5s ease-in-out;
}
.book-selector:hover .selector {
    opacity: 0.25;
}
.book-selector .selector:hover {
    opacity: 1;
}

/* .vertical_dotted_line {
    margin: 10px auto;
    border-left: 2px dotted #aaaaaa;
    height: 30px;
    flex: 0 0 auto;
}  */
/* .selector#infernosheir {
    border-radius: 1em 0 0 1em;
}
.selector#infernosheir:hover {
    background: linear-gradient(to right, rgb(252,12,21) 0%, rgb(8, 46, 67) 100%);
}
.selector#tempestsqueen {
    border-radius: 0 1em 1em 0;
}
.selector#tempestsqueen:hover {
    background: linear-gradient(to right, rgb(21,184,235) 20%,  rgb(163,149,200) 80%);
} */
/* .selector#infernosheir:hover > h3,
.selector#tempestsqueen:hover > h3 {
    background: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
} */
