.book {
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
    width: 100%;
    background-color: #ffffffaa;
    box-shadow: 0px 1px 2px #33333350;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.book-cover {
    display: flex;
    flex: 1 1 25%;
    flex-direction: column;
    align-items: center;
    img {
        display: block;
        border-radius: 10px;
        width: 80%;
        margin-left: 10%;
        max-width: 160px;
    }

    p {
        font-size: 12px;
    }
}
.book-content {
    flex: 1 1 70%;
}
@media (max-width: 768px) {
    .book-cover, .book-content {
        flex: 1 1 100%;
    }
}

.book-blurb {
    position: relative;
    padding-left: 20px;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 2px;
        background-color: var(--color-gold); 
    }
}
