.book-selector {
    position: fixed;
    top: 150px;
    width: 100%;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-selector button {
    font-family: "Noto Serif", system-ui, serif;
    font-weight: 300;
    margin: 0.5em 1em;
    padding: 7.5px 20px;
    border-radius: 10px;
    background-color: #ffffffcc;

    border-color: rgba(0,0,0, 0.1);
    box-shadow: 1px 1px 3px rgba(0,0,0, 0.1);
    transition: 0.15s ease-in-out;

     &:hover {
        cursor: pointer;
        background-image: none;
        box-shadow: 1px 1px 3px 0.5px rgba(0,0,0, 0.1);
        background-color: rgba(0,0,0,0.75);
        color: white;
     }
}