.contact-form-container {
    margin: 0 auto;
    width: 80%;
    background-color: #ffffffaa;
    backdrop-filter: blur(14px);
    box-shadow: 0px 2px 5px #00000050;
    border-radius: 20px;
    padding: 20px 40px 30px 40px;
    transition: 500ms ease-in-out;
    place-content: center;
}

.contact-form-title {
    display: flex;
    h3 {
        font-weight: 400;
    }
}
.contact-email-icon {
    margin: auto 5px;
    width: 20px;
}

/* Contact form inputs */
.contact-form {
    .contact-form-sender {
        display: flex;
        gap: 10%;

        .contact-form-input {
            flex: 1 1 40%;
        }
    }
    .contact-form-input {
        margin-bottom: 1em;
    }

    h4 {
        text-transform: lowercase;
        font-weight: 400;
        font-size: 14px;
    }

    .contact-form-input {
        display: flex;
        flex-wrap: wrap;
    }

    input, textarea {
        font-size: 14px;
        font-family: 'Open Sans', Avenir, sans-serif;
        width: 100%;
        border-radius: 10px;
        background-color: var(--background-standard);
        border: 1px solid rgba(204,204,204, 0.8);
        padding: 7.5px 10px;
        transition: border 0.3s ease, box-shadow 0.5s ease;
        box-shadow: none;
        min-height: 20px;

        &:focus, &:focus-visible {
            border: 1px solid var(--color-gold);
            outline: none;
            box-shadow: 1px 1px 3px rgba(var(--rgb-gold), 0.2);
        }
    }
    #form-subject {
        textarea {
            min-height: 100px;
            resize: vertical;
            box-sizing: border-box;
        }
    }

}


/* Contact form submission */
.contact-form-submit {
    cursor: pointer;
    margin: 0 auto;
    padding: 8px;
    width: 30%;
    border-radius: 10px;
    border: 0;
    box-shadow: 0px 1px 2px #00000050;
    transition: .25s ease-in-out;
    font-family: 'Open Sans', Avenir, sans-serif;
    font-size: 14px;
    font-weight: 300;

    div {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    img {
        transform: translateY(2px);
        width: 0;
        transition: .25s ease-in-out;
    }
}
.contact-form-submit:hover {
    box-shadow: 0px 2px 3px rgba(219, 171, 45, 0.5);
    transition: .25s ease-in-out;
    font-weight: 400;

    img {
        width: 18px;
        margin-left: 8px;
        transition: .25s ease-in-out;
    }
}
.submit-confirmation-show {
    justify-content: center;
    width: 100%;
}
.contact-form-confirm {
    font-family: 'Open Sans', Avenir, sans-serif;
    text-align: center;
    margin: 0;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: italic;
}
.submit-confirmation-hide,
.contact-form .contact-form-input.submit-confirmation-hide {
    display: none;
}

@media (max-width: 1024px) {
    .contact-form-container {
        width: 85%;
    }
    .contact-form-submit {
        width: 40%;
    }
}


@media (max-width: 768px) {
    .contact-form-container {
        width: 90%;
    }

    .contact-form {
        .contact-form-sender {
            flex-direction: column;
        }
    }

    .contact-form-submit {
        width: 50%;
    }
}
