.home-container {
    justify-content: space-between;
}

.home-hero-image {
    flex: 1 1 45%;
    width: 100%;           
    max-height: 700px;     
    overflow: hidden;      
    position: relative;    
}
.home-hero-image img {
    margin-left: 10%;
    width: 90%;
    height: 90%;
    border-radius: 50px;   
    object-fit: cover;
}

.home-hero-text {
    flex: 1 1 40%;
    min-height: 400px;  
    padding-left: 50px;
    align-content: center;
    place-content: center;
}

.home-hero-text h2, .contact-subcontainer h2,
.home-hero-text h4, .contact-subcontainer h4 {
    font-family: Avenir,"halyard-text", Avenir, sans-serif;
    font-weight: 450;
    font-size: 1em;
}

.home-hero-text h2, .contact-subcontainer h2 {
    font-size: 1.15em;
}

p.home-caption-text, .book-rhs p.home-caption-text, .contact-subcontainer p {
    color: black;
    font-family: 'Open Sans', Avenir, sans-serif;
    font-weight: 200;
    font-size: 0.85em;
    font-style: italic;
    margin: 0;
}
p.home-caption-text {
    color: #151515;
    opacity: 0.5;
    font-size: 0.6em;
    margin-top: 1em;
    margin-left: 10%;
    text-align: center;
}

@media (max-width: 1920px) {
    .home-hero-image {
        height: 550px;  
    }
    .home-hero-text {
        padding-left: 45px;
    }
}

@media (max-width: 1024px) {
    .home-hero-image {
        height: 500px;  
        border-radius: 45px;      
    }
    .home-hero-text {
        min-height: 350px;  
        padding-left: 35px;
    }
}

@media (max-width: 768px) {
    .home-container {
        width: 90%;
        margin: 0 auto;
        gap: 0;
    }
    .home-hero-image {
        flex: 1 1 100%;
        min-height: 420px;  
        border-radius: 40px;      
    }
    .home-hero-text {
        flex: 0 1 80%;
        height: 100%;  
        padding-left: 0;
        padding-top: 10px;
    }
    .home-hero-text h2 {
        font-size: 1.1em;
    }
}

@media (max-width: 576px) {
    .home-container {
        width: 95%;
        gap: 0;
    }
    .home-hero-image {
        flex: 1 1 100%;
        height: 320px;   
        border-radius: 30px;      
    }
    .home-hero-text {
        flex: 0 1 90%;
    }
}
  
.palmares-book {
    height: 160px;
    margin-right: 1em;
}