.home-container {
    justify-content: space-between;
    gap: 5%;
    margin: 0 auto;
    margin-top: 2.5em;
}

.home-hero-image {
    flex: 1 1 40%;
    width: 100%;           
    max-height: 480px;   
    max-width: 360px; 
    overflow: hidden;      
    position: relative;    
}
.home-hero-image img {
    width: 100%;
    height: 100%;
    border-radius: 50px;   
    object-fit: cover;
}

.home-hero-text {
    flex: 1 1 55%;
    min-height: 400px;  
    align-content: center;
    place-content: center;
}

.home-hero-text h2, .contact-subcontainer h2,
.home-hero-text h4, .contact-subcontainer h4 {
    font-family: Avenir,"halyard-text", Avenir, sans-serif;
    font-weight: 450;
    font-size: 1em;
    margin-bottom: 1em;
}

.home-hero-text h2, .contact-subcontainer h2 {
    font-size: 1.15em;
}

p.home-caption-text, .book-rhs p.home-caption-text, .contact-subcontainer p {
    color: black;
    font-style: italic;
    margin: 0;
}
p.home-caption-text {
    color: #151515;
    opacity: 0.5;
    font-size: 0.6em;
    margin-top: 1em;
    margin-left: 10%;
    text-align: center;
}

@media (max-width: 1920px) {
    .home-hero-image {
        /* height: 550px;   */
    }
    .home-hero-text {
        /* padding-left: 45px; */
    }
}

@media (max-width: 1024px) {
    .home-hero-image {
        height: 500px;  
        border-radius: 45px;      
    }
    .home-hero-text {
        min-height: 350px;  
    }
}

@media (max-width: 768px) {
    .home-container {
        width: 90%;
        margin: 0 auto;
        justify-content: center;
    }
    .home-hero-image {
        flex: 1 1 100%;
        height: 300px;
        width: 300px;
        max-width: 300px;
        border-radius: 50%;      
    }
    .home-hero-text {
        flex: 1 1 100%;
        height: 100%;  
        padding-top: 1.5em;
    }
    .home-hero-text h2 {
        font-size: 1.1em;
    }
}

@media (max-width: 576px) {
    .home-container {
        width: 95%;
    }
}
  
