.home-container {
    justify-content: space-between;
    gap: 5%;
    margin: 0 auto;
    margin-top: 2.5em;
    row-gap: 2em;
}

.home-hero-image {
    flex: 1 1 40%;
    width: 100%;           
    max-height: 480px;   
    max-width: 360px; 
    /* overflow: hidden;       */
    position: relative;    
}
.home-hero-image img {
    width: 100%;
    height: 100%;
    border-radius: 50px;   
    object-fit: cover;
}
/* .home-hero-border {
    position: absolute;
    width: 95%;
    height: 95%;
    border: 1px solid #EFBF04;
    background: none;
    border-radius: 2px;
    left: 10px;
    top: 10px;
} */

.home-hero-text {
    flex: 1 1 55%;
    min-height: 400px;  
    align-content: center;
    place-content: center;
}

.home-hero-text h2, .home-hero-text .home-link {
    font-family: Avenir, "halyard-text", Avenir, sans-serif;
    font-weight: 450;
    font-size: 1em;
}

.home-hero-text h2, .home-hero-text h4 {
    margin-bottom: 1em;
}


p.home-caption-text, .book-rhs p.home-caption-text, .contact-subcontainer p {
    color: black;
    font-style: italic;
    margin: 0;
}
p.home-caption-text {
    position: absolute;
    width: 100%;
    color: #151515;
    opacity: 0.5;
    font-size: 11px;
    /* margin-top: 12pxem; */
    /* margin-left: 10%; */
    text-align: center;
    margin-top: 5px;
}

@media (max-width: 1920px) {
}

@media (max-width: 1024px) {
    .home-hero-image {
        height: 500px;  
        border-radius: 45px;      
    }
    .home-hero-text {
        min-height: 350px;  
    }
}

@media (max-width: 768px) {
    .home-container {
        width: 90%;
        margin: 0 auto;
        justify-content: center;
    }
    .home-hero-image {
        flex: 1 1 100%;
        height: 300px;
        width: 300px;
        max-width: 300px;    
    }
    .home-hero-image img {
        border-radius: 50%;  
    }
    .home-hero-text {
        flex: 1 1 100%;
        height: 100%;  
        padding-top: 1.5em;
    }
}

@media (max-width: 576px) {
    .home-container {
        width: 95%;
    }
}
  


.page-title {
    display: none;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 20px;
}