@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-size: 16px;
  color-scheme: light;
  color: #27272a;
  background-color: #faf8f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --nav-height: 150px;
  --background-standard: #faf8f6;
  --background-semitransparent: rgba(250, 248, 246, 0.85);
  --color-gold: #EFBF04;
  --color-gold: rgb(204, 153, 51);
  --rgb-gold: 204, 153, 51;
  /* 239, 191, 4; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */

  /* Chrome, Safari, Opera */
  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}


h1, h2, h3, h4 { 
  font-family: "Noto Serif", system-ui, serif;
  font-weight: 300;
  margin: 0.5em 0;
}

h1 {
  font-size: 40px;
  line-height: 1.1;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
  font-weight: 400;
}

h5 {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "halyard-display", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;
  opacity: 0.8;
  margin: 0.5em 0;
  text-align: center;
}

p {
  font-family: 'Open Sans', Avenir, sans-serif;
  font-weight: 200;
  font-size: 14px;
}

a { 
  color: #27272a;
  text-decoration: none;
  cursor: pointer;

  button {
    cursor: pointer;
  }

  & .link-underline {
    text-decoration: underline;
    cursor: pointer;
  }
}

