@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "halyard-display", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #27272a;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* Chrome, Safari, Opera */
html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a { 
  color: #27272a;
  text-decoration: none;
}

.link-underline {
  text-decoration: underline;
  cursor: pointer;
}