/* BOOKSHELF ANIMATIONS */
.library-book-selector {
    position: fixed;
    top: 150px;
    width: 100%;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.library-book-selector button {
    font-family: "Noto Serif", system-ui, serif;
    font-weight: 300;
    margin: 0.5em 1em;
    padding: 7.5px 20px;
    border-radius: 10px;

    border-color: rgba(0,0,0, 0.1);
    box-shadow: 1px 1px 3px rgba(0,0,0, 0.1);
    transition: 0.15s ease-in-out;

     &:hover {
        cursor: pointer;
        background-image: none;
        box-shadow: 1px 1px 3px 0.5px rgba(0,0,0, 0.1);
        background-color: rgba(0,0,0,0.75);
        color: white;
     }
}

/* Styling for full-art and unreleased books */
.library-book, 
.library-book-unreleased {
    position: relative;
    hr {
        width: 120px;
    }
    h4 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    h5 {
        font-size: 14px;

        @media (max-width: 768px) {
            display: none;
        }
    }
    p {
        margin: 0;
    }
    p.library-book-subtitle {
        font-size: 9px;
        text-transform: uppercase;
    }
}

.library-wrapper {
    overflow-x: auto;
    flex-wrap: nowrap;
}
.library {
    padding: 1.5em 1em;
    padding-top: .5em;
    display: flex;
    column-gap: 1em;
    row-gap: 1em;
    justify-content: left;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    flex-shrink: 0;

    @media (max-width: 768px) {
        row-gap: 1em;
    }
}
.horizontal-list::-webkit-scrollbar {
  display: none;         /* optional: hide scrollbar */
}

.library-book {
    backdrop-filter: blur(14px);
    border-radius: 10px;
    padding: 10px 30px 20px 30px;
    min-width: 160px;
    transition: .3s ease-out;

    img {
        transition: .3s ease-out;
        border-radius: 10px;
        height: 180px;
        object-fit: cover;
    }
    h5 {
        color: #222222;
        filter: brightness(0.9);
    }

    &:hover {
        background-color: #ffffffaa;
        box-shadow: 0px 1px 2px #33333350;

        img {
            transform: scale(1.02);
        }

        h4, h5 {
            color: var(--color-gold);
        }
    }
}
.library-book-caption {
    position: relative;
    display: inline-block;
}


/* Suppress animation for unreleased books */
.library-book-unreleased {
    h5, hr {
        opacity: 0.5;
    }
    h4, p {
        opacity: 0.75;
    }
    .book-overlay {
        display: none;
    }
}

/* Don't show unreleased books on homepage */
.library-book-hidden {
    width: 0;
    height: 0;
    display: none;
}