/* NAVIGATION CSS */
.nav-top {
    position: fixed;
    z-index: 1;
    top: 0;
    height: var(--nav-height);
    width: 100%;
    background-color: rgba(250, 248, 246, 0.85);
}
.nav-flex {
    display: flex;
    justify-content: space-between; 
    align-items: center;       
}
.nav-title-name {
    font-family: "Noto Serif", system-ui, serif;
     font-weight: 300;
     margin: 0;
     text-transform: lowercase;
}

/* TITLE */
.nav-title, .navbar-title-items {
    padding-top: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.nav-title-logo {
    height: 60px;
    padding: 15px;
}

/* DESKTOP */
.nav-desktop {
    display: flex;
    margin: 0 2.5em;
    justify-content: center;        
    align-items: center;                                    
    text-align: center;         

    .nav-link-desktop {
        height: 24px;
        margin: 0 2em;
    }
}

/* MOBILE */
@media (min-width: 768px) {
    .nav-mobile {
        display: none;
    }
}
@media (max-width: 768px) {
    .nav-desktop {
        display: none;
    }
}
@media (max-width: 300px) {
    .nav-title-name {
        display: none;
    }
}


/* Mobile navigation */
.nav-mobile-menu {
    margin: 0 3.25em;

    .nav-mobile-button {
        margin: 0 auto;
        background: transparent;
        border: none;
        cursor: pointer;
    }
}
.nav-mobile-dropdown {
    width: 100%;
    height: 100%;
    padding-top: .5em;
    background-color: rgba(250, 248, 246, 0.85);
    * {
        width: 100%;
    }
}
.nav-mobile-dropdown, .nav-mobile-items {
    position: fixed;
    top: var(--nav-height);
    
    .nav-link-mobile {
        display: block;
        text-align: center;
        padding: 0.4em 0;
        transition: background-color 0.3s ease-in-out;
    }
    .nav-link-mobile:hover,
    .nav-link-mobile:active,
    .nav-link-mobile:focus {
        color: #272727;
        text-decoration: none;
        background-color: rgba(242, 190, 69, 0.6);
    }
    .nav-link-mobile:hover > .nav-link-text-active {
        color: #272727;
        transition: color 0.3s ease-in-out;
    }
    .nav-link-mobile-text {
        font-family: "Noto Serif", system-ui, serif;
        font-size: 18px;
        font-weight: 300;
    }
}
.nav-mobile-icons {
    background: linear-gradient(to bottom, rgba(250, 248, 246, 0) 0%, #faf8f6 35%);
    position: fixed;
    padding-top: 60px;
    margin: 0 auto;
    bottom: 0;
}


/* NAV FOOTER ICONS */
.nav-bot {
    position: relative;
    margin: 5em 0 3em 0;
}
.nav-bot-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5em;
}
.nav-icon, .nav-icon svg, .nav-icon path {
    width: 1.75em;
    height: 1.75em;
    margin: 0 .75em;
    left: 0;
    transition: fill 0.2s ease-in-out,
    stroke 0.2s ease-in-out;
    border: none;
}
.nav-icon:hover {
    svg, path {
        fill: #EFBF04;
        stroke: #EFBF04;
    }
}
p.nav-bot-cr {
    font-family: "Noto Serif", system-ui, serif;
    text-transform: lowercase;
    text-align: center;
    font-size: 0.75em;
    color: #27272a;
    font-weight: 300; 
}
