/* NAVIGATION CSS */
.nav-top {
    /* position: absolute; */
    position: fixed;
    z-index: 2;
    top: 0.25em;
    min-height: 140px;
    width: 100%;
    background-color: #faf8f6CC;
    /* backdrop-filter: blur(1px); */
    /* box-shadow: 0px 2px 2px #00000020; */
}
.nav-flex {
    display: flex;
    justify-content: space-between; 
    align-items: center;       
}

/* NAV FOOTER ICONS */
.nav-bot {
    position: relative;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 100%;
}
.nav-bot-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5em;
}
.nav-icon, .nav-icon svg, .nav-icon path {
    width: 1.75em;
    height: 1.75em;
    margin: 0 .5em;
}
p.nav-bot-cr {
    font-family: "Noto Serif", system-ui, serif;
    text-transform: lowercase;
    text-align: center;
    font-size: 0.75em;
    color: #27272a;
    font-weight: 300; 
}


/* TITLE */
.nav-title, .navbar-title-items {
    margin-top: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.nav-title-logo {
    height: 60px;
    padding: 15px;
}
.nav-title h2 {
    font-family: "Noto Serif", system-ui, serif;
    font-size: 1.75em;
    color: #27272a;
    font-weight: 300;
}

/* DESKTOP */
.nav-desktop {
    display: flex;
    margin: 0 2.5em;
    justify-content: center;        
    align-items: center;                                    
    text-align: center;          
}  
.nav-links-item {
    height: 24px;
    margin: 0 2em;
}
.nav-link-text {
    font-size: 1.1em;
    color: #27272a;
    font-weight: 300;
    margin: 0;
}

.nav-link-text:hover,
.nav-link-text:active,
.nav-link-text:focus,
.nav-link-text-active {
    text-decoration: underline;
    transition: ease-in-out;
    transition-delay: 50ms;
    transition-duration: 1000ms;
}

/* MOBILE */





/* @media (max-width: 1024px) {
    .navbar-links-item {
        margin: 0 1.5em;
    }
    .navbar-links {
        margin-right: .75em;
    }
} */

@media (max-width: 768px) {
    .navbar-desktop {
        display: none;
    }
}




/* Mobile navigation */
.navbar-mobile {
    margin: 0;
    height: 80px;
    margin-top: .25em;
}
.navbar-mobile-header {
    margin: 0 3.25em;
}

.navbar-mobile-title {
    flex: 1 1 60%;
    justify-content: left;
    align-items: center;
}
.navbar-mobile-menu {
    background: transparent;
    border: none;
    cursor: pointer;
}

.navbar-mobile-overlay {
    position: fixed;
    top: 80px;
    min-height: 100%;
    width: 100%;
    background-color: #ffffffee;
    z-index: 1
}
.navbar-mobile-links {
    position: fixed;
    top: 100px;
    width: 100%;
}
.navbar-mobile-links .navbar-links-item {
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 1.25em 3em 1.5em 3em;
    margin: 0;
}
.navbar-mobile-links .navbar-link-text:hover,
.navbar-mobile-links .navbar-link-text:active,
.navbar-mobile-links .navbar-link-text:focus {
    text-decoration: none;
}
.navbar-mobile-links .navbar-links-item:hover {
    background-color: rgba(204, 148, 93, 0.25);
}
.navbar-mobile-links .navbar-links-item:hover > .navbar-link-text {
    color: black;
}
.navicons-wrapper {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    bottom: 0px;
}

@media (min-width: 768px) {
    .navbar-mobile {
        display: none;
    }
}


