/* CSS FOR SHARED COMPONENTS */        
.hyperlink { 
    .hyperlink-text {
        font-size: 1.1em;
        color: #27272a;
        font-weight: 300;
        margin: 0;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            inset: auto 0 -2px 0;
            width: 0;
            height: 2px;
            background: #272727;
            transition: width 0.3s ease 0.2s, background 0.3s ease 0.2s;
        }

        &.hyperlink-active {
            color: #EFBF04;
            &::after {
                background: #EFBF04;
                width: 100%;
            }
        }
    }

    &:hover,
    &:active,
    &:focus {
        .hyperlink-text {
            color: #EFBF04;
            transition: color 0.3s ease 0.2s;
            &::after {
                background: #EFBF04;
                width: 100%;
                transition: width 0.3s ease 0.2s, background 0.3s ease 0.2s;
            }
        }
    }

    .hyperlink-text-inline {
        display: inline-block;
        &::after {
            width: 100%;
            height: 1px;
            inset: auto 0 1px 0;
        }
    }
}

