.contactPage__container {
    padding-top: 2.5em;
}
.contactPage__section {
    align-content: center;
    place-content: start;
    .contactPage__hyperlink h3 {
        font-size: 14px;
        
    }
}
.contactPage__details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* left */
    align-items: start; 
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 15px;
}
.contactPage__card {
    flex: 1 1 30%;

}
.contactPage__socials_title {
    text-align: center;
}
.contactPage__socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    gap: 2em;
    row-gap: 12px;
}

.contactPage__title {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}

.contactPage__card_text, .contactPage__card_text > p {
    margin: 0;
    display: inline;
}


/* responsive queries */
@media (max-width: 1024px) {
    .contactPage__card {
        flex: 0 1 45%;
    }
}
@media (max-width: 768px) {
    .contactPage__container {
        padding-top: 0.5em;
    }
    .contactPage__details {
        width: 90%;
        margin: 0 auto;
    }
    .contactPage__card {
        flex: 1 1 50%;
    }
}