/* homepage styles */
.homePage__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 5%;
    row-gap: 2em;
    margin: 1.5em auto 5em auto;
    padding-top: 3em;
}

/* hero image */
.homePage__image {
    flex: 1 1 40%;
    --homepage_image_size: 360px;
    width: var(--homepage_image_size); 
    max-width: var(--homepage_image_size); 
    position: relative;    
}
.homePage__image img {
    width: 100%;
    border-radius: 50px;   
    object-fit: cover;
    z-index: 2;
}
.homePage__image_caption {
    margin-top: 5px;
    text-align: center;
    font-size: 11px;
    color: var(--color-boxshadow-hover);
    a {
        color: var(--color-boxshadow-hover);
        text-decoration: underline;
    }
}

/* intro text */
.homePage__about {
    flex: 1 1 55%;
    padding-top: 1em;
    min-height: var(--homepage_image_size);
    align-content: center;
    place-content: center;
}
.homePage__author_name {
    font-family: var(--serif);
    font-weight: 450;
}
.homePage__about h2, .homePage__about .home-link {
    font-family: var(--sans-serif-1);
    font-size: 16px;
}
.homePage__banners {
    margin-top: 48px;
}


/* responsive sizing */
@media (max-width: 1024px) {
    .homePage__content {
        gap: 7.5%;
    }
    .homePage__image {
        flex: 1 1 35%;
        --homepage_image_size: 330px;
        border-radius: 45px;      
    }
    .home-hero-text {
        min-height: 350px;  
    }
}

@media (max-width: 768px) {
    .homePage__content {
        width: 90%;
        justify-content: center;
        padding-top: 1.25em;
    }
    .homePage__image {
        flex: 1 1 100%; 
        --homepage_image_size: 300px;
        height: var(--homepage_image_size); 
        max-height: var(--homepage_image_size); 

        img {
            height: 95%;
            width: 95%;
            border-radius: 50%;  
        }
    }
    .homePage__about {
        flex: 1 1 100%;
        padding-top: 2em;
    }
    
    .homePage__banners {
        padding-top: 0.75em;
    }
}

@media (max-width: 576px) {
    .homePage__content {
        width: 90%;
    }
    .homePage__image {
        --homepage_image_size: 280px;
    }
}
@media (max-width: 320px) {
    .homePage__image {
        --homepage_image_size: 235px;
    }
}
