/* context specific styles */

/* BOOKS PAGE */
/* Suppress animation for unreleased books */
.bookCollection__book--unreleased {
    img {
        filter: opacity(0.5);
    }
    h4, h5, p {
        opacity: 0.5;
    }

    &:hover {
        --bookCollection-hover-bg: none;
        --bookCollection-boxshadow: none;
        --bookCollection-hover-scale: 1;
        .bookCollection__book_title--unreleased {
            color: var(--color-primary);
        }
    }
}

/* Don't show unreleased books on homepage */
.bookCollection--hidden {
    --bookCollection-display: none;
}


/* CONTACT PAGE */
.hyperlink__text--contact {
    font-size: 14px;
    justify-content: center;
    &::after {
        content: none;
    }
    &::before {
        content: "";
        display: inline-block;
        background-color: var(--color-gold);
        -webkit-mask: url("/icons/email.svg") no-repeat center;
        mask: url("/icons/email.svg") no-repeat center;
        -webkit-mask-size: contain;
        mask-size: contain;
        height: 14px;
        width: 14px;
        margin: 0 4px 0 0;
        transform: translateY(2.5px)
    }
}
.banner--contact {
    --banner-title-size: 16px;
    --banner-padding: 0.75em 1.5em 1.25em 1.25em;
    --banner-content-margin: 0.25em;
}


/* HYPERLINKS */
.hyperlink--active {
    color: var(--color-gold);
    &::after {
        background: var(--color-gold);
        width: 100%;
    }
}
.hyperlink--inline {
    display: inline-block;
    &::after {
        width: 100%;
        height: 1px;
        inset: auto 0 1px 0;
    }
}
.hyperlink--disabled {
    color: var(--color-disabled);
    font-weight: 100;
    &:after {
        display: none;
    }
}
.hyperlink--no_underline {
    &:hover, 
    &:active, 
    &:focus > .hyperlink__text,
    .hyperlink--inline {
        &::after {
            width: 0;
        }
    }
}
.hyperlink--homepage_about {
    h3 {
        font-family: var(--sans-serif-1);
    }
}
